@import "tailwindcss";

@theme {
  --color-prime: #1b1e24;
  --color-prime-text: #bec5d1;

  --color-secnd: #383d47;
  
  --color-third: #5e636e;
}

:root {
  font-family: sans-serif, Arial, Helvetica;

  color: var(--color-prime-text);
  background-color: var(--color-secnd);
}